@model CursoMVC.Models.Inscripcion

@{
    ViewData["Title"] = "Details";
}

<h1 style="margin-bottom: 20px;">MAS INFORMACION</h1>

<div class="jumbotron">
    <h4 class="text-center">Inscripción</h4>
    <hr style="border: 2px solid;"/>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDeInscripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDeInscripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alumno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alumno.AlumnoDNI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlumnoApellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alumno.AlumnoApellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlumnoNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alumno.AlumnoNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nota.calificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Curso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Curso.Titulo)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InscripcionID"><span class="glyphicon glyphicon-edit" style="color:forestgreen;"> </span></a>
    <a asp-action="Index" class="btn btn-info">REGRESAR A LA LISTA</a>
</div>
